* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: rgb(134, 148, 239, 1);
  align-items: center;
}

.para {
  font-size: 20px;
  padding-block: 20px;
  font-weight: 500;
  font-family: outfit, sans-serif;
  color: white;
}

.span {
  position: relative;
  display: flex;
  /* border: 1px solid white; */
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.spa-btn {
  justify-content: center;
}

.spa {
  position: relative;
  display: flex;
  width: 11rem;
  font-family: outfit, sans-serif;
  color: white;
  padding: 0.5rem;
  align-items: center;
  background-color: transparent;
  font-size: 1.3rem;
  justify-content: center;
  border: 1px solid rgb(247, 242, 242);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: center;
}

.img-stroke {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav {
  background-color: white;
  opacity: 0.95;
  z-index: 99;
  display: flex;
  opacity: 0.95;
  width: min(100%, 97%);
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 20px;
  margin-inline: 20px;
  margin-block: 80px;
  /* border: 1px solid whitesmoke; */
  box-shadow: 20px 0px 50px 0 #857f7f41;
  border-radius: 500px;
  position: fixed;
}

.highlight {
  background-color: rgb(253, 173, 52);
  border-radius: 0.5rem;
  border: 2px solid rgb(253, 173, 52);
  border-width: 7px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

.li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 350;
  display: inline-block;
}

.li a {
  text-decoration: none;
  color: black;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 50px;
}

.drop {
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.user-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.resource {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.drop-head {
  align-items: center;
}

.sign-stroke {
  align-content: center;
  padding-inline: 10px;
  display: flex;
}
.btn-login {
  color: #000000;
  border: #fff;
  margin-right: 3rem;
  padding: 1rem;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.btn-sign-up {
  color: rgb(252, 251, 251);
  border: #fff;
  display: flex;
  font-size: 17px;
  cursor: pointer;
  padding-inline: 25px;
  padding-block: 15px;
  background-color: rgb(0, 200, 114);
  border-radius: 600px;
  position: relative;
}

.hub {
  margin-top: 270px;
  width: 50%;
}

.btn-getstarted {
  background-color: rgb(104, 118, 209);
  border-radius: 60px;
  padding: 1rem;
  position: relative;
  gap: 10px;
  display: flex;
  color: white;
  padding-inline: 30px;
  /* width: 160px; */
  cursor: pointer;
  /* margin-top: 2rem; */
  font-size: 17px;
  border: none;
  margin-block: 30px;
}

.flex {
  display: flex;
  margin-inline: 80px;
  gap: 100px;
}

.hub-p {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-block: 5px;
  gap: 10px;
  font-size: 18px;
  width: 250px;
  color: #111;
}

.hub-head {
  font-size: 60px;
  font-weight: 800;
  font-family: "fraunces";
  width: 110%;
  line-height: 60px;
  color: #000;
}

.hub2 {
  font-size: 18px;
  color: #333;
  font-family: outfit, sans-serif;
  opacity: 0.6;
  text-align: start;
  width: 77%;
  margin-block: 10px;
  line-height: 30px;
}
.swiper {
  position: relative;
  display: flex;
  flex-flow: row;
}
.swiper-wrapper {
  cursor: grab;
  margin-top: 3rem;
  gap: 41px;
  position: relative;
  /* overflow: auto; */
  /* z-index: 1; */
  animation: slide 7000ms linear infinite;
  display: flex;
  /* box-sizing: content-box; */
}

.swipe-slide {
  height: auto;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  gap: 40px;
  cursor: grab;
  margin-bottom: 200px;
  margin-inline: 40px;
}

.slider {
  background-color: white;
  border-radius: 10px;
  padding-block: 15px;
  padding-inline: 15px;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.swiper {
  position: relative;
  overflow: hidden;
  /* list-style: none; */
  white-space: nowrap;
  gap: 20px;
  /* padding: 0; */
  /* z-index: 1; */
  display: flex;
  margin-bottom: 20px;
}

.hero {
  display: flex;
  margin-inline: 50px;
  gap: 20rem;
}

.explore {
  font-family: "fraunces";
  overflow: hidden;
}

.animate {
  display: flex;
}
.paragragh {
  font-size: 18px;
  width: 90%;
  color: #777;
  font-family: outfit, sans-serif;
  margin-block: 30px;
}

.join-container {
  margin-top: 30px;
  background-color: rgb(104, 118, 209);
  color: white;
}

/* .text {
  width: 80%;
} */

.join {
  display: flex;
  padding-top: 150px;
  margin-inline: 100px;
  justify-content: center;
}

.join-tags {
  display: grid;
  font-family: outfit, sans-serif;
  gap: 20px;
}

.join-heading {
  font-size: 48px;
  margin-bottom: 1rem;
  width: 60%;
}

.join_para {
  font-size: 17px;
  font-family: outfit, sans-serif;
  line-height: 24px;
  margin-block: 2rem;
  width: 75%;
}

.join-wallet {
  display: flex;
  align-items: start;
  gap: 20px;
}

.join-content {
  line-height: 22px;
}
.join-head {
  font-size: 19px;
}
.join-head2 {
  font-size: 18px;
  font-weight: 600;
  font-family: outfit, sans-serif;
}

.join-paragragh {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.add-btn {
  color: #000;
  border: #fff;
  padding: 0.95rem;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  gap: 10px;
  display: flex;
  margin-bottom: 200px;
  width: 220px;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(250, 180, 50);
  border-radius: 600px;
  position: relative;
}

.health-btn {
  color: #000;
  border: #fff;
  padding: 0.9rem;
  cursor: pointer;
  background-color: rgb(104, 117, 201);
  font-size: 18px;
  gap: 10px;
  display: flex;
  align-content: center;
  flex-direction: row;
  border-radius: 500px;
  position: relative;
  margin-block: 50px;
}

.easy-heading {
  font-size: 45px;
  color: #fff;
  width: 40%;
}

.stroke {
  color: #000;
}
.easystep {
  display: flex;
  color: #fff;
}

.head {
  font-size: 22px;
  font-family: outfit, sans-serif;
}

.paras {
  font-size: 17px;
  font-family: outfit, sans-serif;
  color: aliceblue;
  font-weight: 700;
  opacity: 0.9;
}

.container {
  position: relative;
  background-color: rgb(126, 17, 235);
  height: 60pc;
  opacity: 0.8;
  padding: 40px;
}

.animation {
  position: relative;
  max-width: 20%;
  display: flex;
  animation: slidechange 7000ms linear infinite;
  overflow: hidden;
}

@keyframes slidechange {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.faq-page {
  padding: 40px;
}

.transition-image {
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: 0.4s;
  overflow: hidden;
  z-index: 2;
}

.my-animate {
  position: relative;
  display: flex;
}

.grid {
  padding-top: 52px;
  padding-left: 30px;
}

.step {
  position: relative;
  z-index: 1;
  margin: 20px 0;
}

.number {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 12px;
  color: aliceblue;
  font-family: "poppins";
  opacity: 0.9;
  font-size: 1.4em;
}

.slides {
  color: black;
  position: absolute;
  line-height: 49px;
  position: sticky;
  padding: 2rem;
  font-size: 32px;
  animation: sli 20s infinite;
}

@keyframes sli {
  0%,
  5% {
    transform: translateY(0%);
  }
  10%,
  20% {
    transform: translateY(-100%);
  }
  25%,
  35% {
    transform: translateY(-200%);
  }
  /* 40%,
  50% {
    transform: translateY(-300%);
  }
  55%,
  65% {
    transform: translateY(-400%);
  }
  70%,
  80% {
    transform: translateY(-500%);
  }
  85%,
  95% {
    transform: translateY(-700%);
  }
  100%,
  105% {
    transform: translateY(-800%);
  } */
}

.slides ol {
  list-style: none;
  height: 3.8rem;
  overflow: hidden;
}

.slides ol .lists .spans {
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, cyan, magenta);
  -webkit-background-clip: text;
}

.header {
  font-size: 40px;
}

.center {
  /* justify-content: space-around; */
  padding: 40px;
  margin-top: 10pc;
}

.all {
  background-color: #f6f2ff;
}

.center-heading {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: end;
  justify-content: space-between;
}

.centerhead {
  width: 90%;
  display: flex;
  padding: 30px;
}
.centerhead h2 {
  font-size: 56px;
  width: 50%;
  /* padding: 100px; */
}

.center-action {
  justify-content: space-between;
  display: flex;
  width: 50%;
}

.btn-centers {
  background-color: rgb(104, 118, 209);
  border: 2px solid black;
  padding: 1.8rem;
  font-size: 17px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  /* padding-inline: 60px; */
}

.center-btn {
  display: flex;
  gap: 50px;
}

.btn-arrow {
  border-radius: 50px;
  padding: 1.2rem;
  border: 1px solid #e5e2e2;
  background-color: transparent;
}

.line {
  background-color: white;
  padding: 0.01rem;
  padding-bottom: 70px;
  margin-left: 25px;
}

.wrapper {
  display: grid;
}

.open {
  display: flex;
  justify-content: space-around;
}

.open-btn {
  background-color: #f044380f;
  color: #f04438;
  border-radius: 50px;
  align-content: center;
  align-items: center;
  cursor: pointer;
  padding-inline: 12px;
  padding-block: 2px;
  font-size: 16px;
  border: none;
  font-family: outfit, sans-serif;
}

.testimonial-heading {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 24px;
  padding: 40px;
  cursor: grab;
  z-index: 1;
  background: #fafafa;
}

@keyframes scroll {
  0% {
    transform: translateX(100px, 0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.card {
  animation: scroll 1000ms linear infinite;
  animation-delay: 1.5s;
  overflow: hidden;
  white-space: wrap;
  max-width: 100%;
  animation-timing-function: 1s;
}

.profile {
  display: flex;
  gap: 10px;
}

@keyframes swipetwo {
  0% {
    transform: translateX(-600px) translate3d(-230px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.card p {
  font-size: 20px;
  line-height: 1.6;
  font-family: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
  color: #333;
  margin-bottom: 80px; /* reserve space for footer */
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
  background: #e9d8fd; /* purple shade */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  /* 👇 This creates the slant */
  /* for top curves */
  clip-path: path(
    "M0,40 Q60,0 120,20 T240,20 T360,20 T480,40 L480,100 L0,100 Z"
  );
  /* for bottom */
  /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%); */
  /* for top */
  /* clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); */
}

/* .image-con{
    z-index: 3;
} */

.swiper-two {
  display: flex;
  cursor: grab;
  overflow: hidden;
  gap: 30px;
  backface-visibility: hidden;
  padding-left: 120px;
  transition-duration: 0ms;
  animation: swipetwo 17s linear infinite;
  transition-delay: 2ms;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  margin-block: 30px;
  padding: 20px;
  margin-inline: 50px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.ques-btn {
  font-size: 19px;
  background-color: transparent;

  font-family: outfit, sans-serif;
  font-weight: 500;
  border: none;
}

.bor {
  border-radius: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.faq-page {
  text-align: center;
  font-size: 17px;
  font-weight: 550;
  font-family: outfit, sans-serif;
  opacity: 0.7;
}

.section-container {
  position: relative;
  margin-top: 20pc;
  background-color: black;
  /* height: 100%; */
}

.icon {
  width: 30px;
  height: 30px;
}

.image-con {
  z-index: 1;
}

.section {
  display: flex;
  background-color: rgb(141 106 222);
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  /* width: 1148px; */
  height: 538px;
  position: relative;
}

.section-content {
  margin: auto 100px;
  top: -15pc;
  position: relative;
}

.title {
  font-size: 70px;
  color: white;
  font-family: "fraunces";
  width: 200%;
}

.describe {
  font-size: 20px;
  color: whitesmoke;
}

.text-box {
  margin-left: 100px;
  gap: 30px;
}

.action {
  display: flex;
  gap: 15px;
  margin-top: 2rem;
}

.get-btn {
  color: #000;
  padding: 1.1rem;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px 10px 10px 10px;
  width: 38%;
  height: 68px;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid #000;
}

.get-btn:hover {
  background-color: rgb(218, 218, 218);
  transition: 2s;
}

.get-btn a {
  text-decoration: none;
  color: #000;
}

.humans {
  font-weight: 700;
}

.lines {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.trust-text {
  align-items: center;
  display: grid;
  text-align: center;
  color: white;
}

.trust {
  display: flex;
  gap: 5px;
  width: 50%;
}

last-p {
  position: relative;
}

.footer-con {
  display: flex;
  margin-top: 4rem;
  padding-left: 5rem;
}

.highlight-two {
  background-color: rgb(253, 173, 52);
  border-radius: 0.4rem;
  border: 2px solid rgb(253, 173, 52);
  border-width: 6px;
  font-size: 10px;
  color: white;
  font-family: sans-serif;
}

.footer-head {
  display: grid;
  width: 100%;
  gap: 25px;
}

.foot-paragragh,
.foot-paragragh a {
  color: #d7d7d7;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: outfit, sans-serif;
}

.foot-para {
  font-weight: 500;
  font-size: 19px;
  width: 92%;
  color: #d7d7d7;
  font-family: outfit, sans-serif;
}

.flex-foot {
  display: grid;
  padding-right: 4rem;
}
.foot-para {
  width: 95%;
}

.center-you {
  justify-content: center;
  font-family: outfit, sans-serif;
  width: 100%;
  color: #626262;
}

.input-head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100px;
  border-bottom: 0.05rem solid rgb(228, 225, 225);
}

.input {
  border-radius: 1px;
  border: white;
  outline: none;
  border: none;
  color: white;
  border-right: 0.05rem solid rgb(228, 225, 225);
  padding: 2px 1px;
}

.input-two {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 2px 1px;
}

.inherit {
  background-color: transparent;
  border: none;
}

.join-btn {
  height: 40px;
  width: 110px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px 10px 0 0;
  border: none;
}

.whitelogo {
  margin-top: 5rem;
  position: relative;
  flex-flow: row;
  justify-content: space-around;
  flex-direction: row;
  height: 70px;
  display: flex;
  border-bottom: 0.01rem solid rgb(158, 157, 157);
}

.png-span {
  margin-left: 1rem;
}

.last-footer {
  display: block;
  position: fixed;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 600px;
  padding-inline: 0.2rem;
  border: 1px solid #5c5c5c;
  opacity: 99;
  bottom: 0;
  z-index: 2;
  right: 0;
  max-width: 100%;
  cursor: pointer;
  height: auto;
  animation-name: grow-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes grow-animation {
  from {
    transform: scale(1);
    /* Original size */
  }
  to {
    transform: scale(1.3);
  }
}
