* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: rgb(134, 148, 239, 1);
  align-items: center;
}

.para {
  font-size: 20px;
  padding-block: 20px;
  font-weight: 500;
  font-family: outfit, sans-serif;
  color: white;
}

.span {
  position: relative;
  display: flex;
  /* border: 1px solid white; */
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.spa-btn {
  justify-content: center;
}

.spa {
  position: relative;
  display: flex;
  width: 11rem;
  font-family: outfit, sans-serif;
  color: white;
  padding: 0.5rem;
  align-items: center;
  background-color: transparent;
  font-size: 1.3rem;
  justify-content: center;
  border: 1px solid rgb(247, 242, 242);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: center;
}

.img-stroke {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav {
  background-color: white;
  opacity: 0.95;
  z-index: 99;
  display: flex;
  opacity: 0.95;
  width: min(100%, 97%);
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 20px;
  margin-inline: 20px;
  margin-block: 80px;
  /* border: 1px solid whitesmoke; */
  box-shadow: 20px 0px 50px 0 #857f7f41;
  border-radius: 500px;
}

.highlight {
  background-color: rgb(253, 173, 52);
  border-radius: 0.5rem;
  border: 2px solid rgb(253, 173, 52);
  border-width: 7px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 350;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: black;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 50px;
}

.drop {
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.user-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.resource {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.drop-head {
  align-items: center;
}

.sign-stroke {
  align-content: center;
  padding-inline: 10px;
  display: flex;
}
.btn-login {
  color: #000000;
  border: #fff;
  margin-right: 3rem;
  padding: 1rem;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.btn-sign-up {
  color: rgb(252, 251, 251);
  border: #fff;
  display: flex;
  font-size: 17px;
  cursor: pointer;
  padding-inline: 25px;
  padding-block: 15px;
  background-color: rgb(0, 200, 114);
  border-radius: 600px;
  position: relative;
}

.hub {
  margin-top: 50px;
  width: 50%;
}

.btn-getstarted {
  background-color: rgb(104, 118, 209);
  border-radius: 60px;
  padding: 1rem;
  position: relative;
  gap: 10px;
  display: flex;
  color: white;
  padding-inline: 40px;
  /* width: 160px; */
  cursor: pointer;
  /* margin-top: 2rem; */
  font-size: 17px;
  border: none;
}

.flex {
  display: flex;
  margin-inline: 80px;
  gap: 70px;
}

.hub-p {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-block: 5px;
  gap: 10px;
  font-size: 18px;
  width: 250px;
  color: #111;
}

.hub-head {
  font-size: 60px;
  font-weight: 800;
  font-family: "fraunces";
  width: 110%;
  color: #000;
}

.hub2 {
  font-size: 18px;
  color: #333;
  font-family: outfit, sans-serif;
  opacity: 0.6;
  text-align: start;
  width: 77%;
  margin-block: 10px;
  line-height: 30px;
}
.swiper {
  position: relative;
  display: flex;
  flex-flow: row;
}
.swiper-wrapper {
  cursor: grab;
  margin-top: 3rem;
  gap: 41px;
  position: relative;
  /* overflow: auto; */
  /* z-index: 1; */
  animation: slide 7000ms linear infinite;
  display: flex;
  /* box-sizing: content-box; */
}

.swipe-slide {
  height: auto;
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 162.824px;
  margin-right: 20px;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.swiper {
  position: relative;
  overflow: hidden;
  /* list-style: none; */
  white-space: nowrap;
  gap: 20px;
  /* padding: 0; */
  /* z-index: 1; */
  display: flex;
  margin-bottom: 20px;
}

.hero {
  display: flex;
}

.explore {
  font-family: "fraunces";
}

.paragragh {
  font-size: 18px;
  width: 50%;
  color: #777;
  font-family: outfit, sans-serif;
}
