* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: rgb(134, 148, 239, 1);
  align-items: center;
}

.para {
  font-size: 20px;
  padding-block: 20px;
  font-weight: 500;
  font-family: outfit, sans-serif;
  color: white;
}

.span {
  position: relative;
  display: flex;
  /* border: 1px solid white; */
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.spa-btn {
  justify-content: center;
}

.spa {
  position: relative;
  display: flex;
  width: 11rem;
  font-family: outfit, sans-serif;
  color: white;
  padding: 0.5rem;
  align-items: center;
  background-color: transparent;
  font-size: 1.3rem;
  justify-content: center;
  border: 1px solid rgb(247, 242, 242);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: center;
}

.img-stroke {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav {
  background-color: white;
  opacity: 0.95;
  z-index: 99;
  display: flex;
  opacity: 0.95;
  width: min(100%, 97%);
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 20px;
  margin-inline: 20px;
  margin-block: 80px;
  /* border: 1px solid whitesmoke; */
  box-shadow: 20px 0px 50px 0 #857f7f41;
  border-radius: 500px;
  position: fixed;
}

.highlight {
  background-color: rgb(253, 173, 52);
  border-radius: 0.5rem;
  border: 2px solid rgb(253, 173, 52);
  border-width: 7px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

.li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 350;
  display: inline-block;
}

.li a {
  text-decoration: none;
  color: black;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 50px;
}

.drop {
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.user-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.resource {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.drop-head {
  align-items: center;
}

.sign-stroke {
  align-content: center;
  padding-inline: 10px;
  display: flex;
}
.btn-login {
  color: #000000;
  border: #fff;
  margin-right: 3rem;
  padding: 1rem;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.btn-sign-up {
  color: rgb(252, 251, 251);
  border: #fff;
  display: flex;
  font-size: 17px;
  cursor: pointer;
  padding-inline: 25px;
  padding-block: 15px;
  background-color: rgb(0, 200, 114);
  border-radius: 600px;
  position: relative;
}

.hub {
  margin-top: 270px;
  width: 50%;
}

.btn-getstarted {
  background-color: rgb(104, 118, 209);
  border-radius: 60px;
  padding: 1rem;
  position: relative;
  gap: 10px;
  display: flex;
  color: white;
  padding-inline: 30px;
  /* width: 160px; */
  cursor: pointer;
  /* margin-top: 2rem; */
  font-size: 17px;
  border: none;
  margin-block: 30px;
}

.flex {
  display: flex;
  margin-inline: 80px;
  gap: 100px;
}

.hub-p {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-block: 5px;
  gap: 10px;
  font-size: 18px;
  width: 250px;
  color: #111;
}

.hub-head {
  font-size: 60px;
  font-weight: 800;
  font-family: "fraunces";
  width: 110%;
  line-height: 60px;
  color: #000;
}

.hub2 {
  font-size: 18px;
  color: #333;
  font-family: outfit, sans-serif;
  opacity: 0.6;
  text-align: start;
  width: 77%;
  margin-block: 10px;
  line-height: 30px;
}
.swiper {
  position: relative;
  display: flex;
  flex-flow: row;
}
.swiper-wrapper {
  cursor: grab;
  margin-top: 3rem;
  gap: 41px;
  position: relative;
  /* overflow: auto; */
  /* z-index: 1; */
  animation: slide 7000ms linear infinite;
  display: flex;
  /* box-sizing: content-box; */
}

.swipe-slide {
  height: auto;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  gap: 40px;
  padding: 30px;
  margin-inline: 40px;
}

.slider {
  background-color: white;
  border-radius: 10px;
  padding-block: 15px;
  padding-inline: 15px;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.swiper {
  position: relative;
  overflow: hidden;
  /* list-style: none; */
  white-space: nowrap;
  gap: 20px;
  /* padding: 0; */
  /* z-index: 1; */
  display: flex;
  margin-bottom: 20px;
}

.hero {
  display: flex;
  margin-inline: 50px;
  gap: 20rem;
}

.explore {
  font-family: "fraunces";
}

.paragragh {
  font-size: 18px;
  width: 90%;
  color: #777;
  font-family: outfit, sans-serif;
}

.two {
  margin-left: 100px;
}
.join-container {
  margin-top: 30px;
  background-color: rgb(104, 118, 209);
  color: white;
}

.join-tags {
  display: grid;
  margin-left: 0.8rem;
  gap: 20px;
  margin-block: 20px;
}

.join-heading {
  font-size: 48px;
  margin-bottom: 1rem;
}

.join_para {
  font-size: 20px;
  font-family: outfit, sans-serif;
  margin-block: 2rem;
}

.join-wallet {
  display: flex;
  align-items: start;
}

.join-content {
  margin-left: 1.2rem;
}
.join-head {
  font-size: 19px;
}
.join-head2 {
  font-size: 19px;
  font-family: outfit, sans-serif;
}

.join-para {
  color: #fff;
  font-size: 17px;
  font-family: outfit, sans-serif;
}

.health-btn {
  color: #ffffff;
  border: #fff;
  padding: 0.95rem;
  cursor: pointer;
  background-color: rgb(104, 117, 201);
  font-size: 18px;
  gap: 10px;

  display: flex;
  margin-bottom: 200px;
  align-content: center;
  flex-direction: row;
  border-radius: 600px;
  position: relative;
  margin-block: 20px;
}
.add-btn {
  color: #000;
  border: #fff;
  padding: 0.95rem;
  cursor: pointer;
  font-size: 18px;
  gap: 10px;
  display: flex;
  margin-bottom: 200px;
  width: 240px;
  justify-content: center;
  flex-direction: row;
  background-color: orange;
  border-radius: 600px;
  position: relative;
}

.easy-heading {
  font-size: 45px;
  color: #fff;
  width: 20%;
}

.stroke {
  color: #000;
}
.easystep {
  display: flex;
  color: #fff;
}

.head {
  font-size: 22px;
  font-family: outfit, sans-serif;
}

.paras {
  font-size: 17px;
  font-family: outfit, sans-serif;
  color: aliceblue;
  font-weight: 700;
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(126, 17, 235);
  height: 40pc;
  opacity: 0.8;
  padding: 40px;
}

.grid {
  padding-top: 52px;
  padding-left: 30px;
}

.step {
  position: relative;
  z-index: 1;
  margin: 20px 0;
}

.number {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 12px;
  color: aliceblue;
  font-family: "poppins";
  opacity: 0.9;
  font-size: 1.4em;
}

.slides {
  color: black;
  position: absolute;
  line-height: 49px;
  position: sticky;
  padding: 2rem;
  font-size: 25px;
  animation: sli 12s infinite;
}

.slides ol {
  list-style: none;
  height: 3.8rem;
  overflow: hidden;
}

.slides ol .lists .spans {
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, cyan, magenta);
  -webkit-background-clip: text;
}

.header {
  font-size: 40px;
}

@keyframes sli {
  0%,
  10% {
    transform: translateY(0%);
  }
  15%,
  25% {
    transform: translateY(-100%);
  }
  30%,
  40% {
    transform: translateY(-200%);
  }
  45%,
  55% {
    transform: translateY(-300%);
  }
  60%,
  70% {
    transform: translateY(-400%);
  }
  75%,
  85% {
    transform: translateY(-500%);
  }
  90%,
  100% {
    transform: translateY(-600%);
  }
}

.center {
  /* justify-content: space-around; */
  padding: 40px;
}

.all {
  background-color: #f6f2ff;
}

.center-heading {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: end;
  justify-content: space-between;
}

.centerhead {
  width: 90%;
  display: flex;
  padding: 30px;
}
.centerhead h2 {
  font-size: 56px;
  width: 50%;
  /* padding: 100px; */
}

.center-action {
  justify-content: space-between;
  display: flex;
  width: 50%;
}

.btn-centers {
  background-color: rgb(104, 118, 209);
  border: 2px solid black;
  padding: 1.8rem;
  font-size: 17px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  /* padding-inline: 60px; */
}

.center-btn {
  display: flex;
  gap: 50px;
}

.btn-arrow {
  border-radius: 50px;
  padding: 1.2rem;
  border: 1px solid #e5e2e2;
  background-color: transparent;
}

.line {
  background-color: white;
  padding: 0.01rem;
  padding-bottom: 70px;
  margin-left: 25px;
}

.wrapper {
  display: grid;
}

.open {
  display: flex;
  justify-content: space-around;
}

.open-btn {
  background-color: #f044380f;
  color: #f04438;
  border-radius: 50px;
  align-content: center;
  align-items: center;
  padding-inline: 12px;
  padding-block: 2px;
  font-size: 16px;
  border: none;
  font-family: outfit, sans-serif;
}

.last-footer {
  display: block;
  position: fixed;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 600px;
  padding-inline: 0.2rem;
  border: 1px solid #5c5c5c;
  opacity: 99;
  bottom: 0;
  z-index: 2;
  right: 0;
  max-width: 100%;
  cursor: pointer;
  height: auto;
  animation-name: grow-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes grow-animation {
  from {
    transform: scale(1);
    /* Original size */
  }
  to {
    transform: scale(1.3);
  }
}
