* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: rgb(134, 148, 239, 1);
  align-items: center;
}

.para {
  font-size: 20px;
  padding-block: 20px;
  font-weight: 500;
  font-family: outfit, sans-serif;
  color: white;
}

.span {
  position: relative;
  display: flex;
  /* border: 1px solid white; */
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.spa-btn {
  justify-content: center;
}

.spa {
  position: relative;
  display: flex;
  width: 11rem;
  font-family: outfit, sans-serif;
  color: white;
  padding: 0.5rem;
  align-items: center;
  background-color: transparent;
  font-size: 1.3rem;
  justify-content: center;
  border: 1px solid rgb(247, 242, 242);
  border-radius: 60px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: center;
}

.img-stroke {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav {
  background-color: white;
  opacity: 0.95;
  z-index: 99;
  display: flex;
  opacity: 0.95;
  width: min(100%, 97%);
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 15px;
  margin-inline: 20px;
  margin-block: 10px;
  /* border: 1px solid whitesmoke; */
  box-shadow: 20px 0px 50px 0 #857f7f41;
  border-radius: 500px;
}

.highlight {
  background-color: rgb(253, 173, 52);
  border-radius: 0.5rem;
  border: 2px solid rgb(253, 173, 52);
  border-width: 7px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 350;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: black;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 50px;
}

.drop {
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.user-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.resource {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.drop-head {
  align-items: center;
}

.sign-stroke {
  align-content: center;
  padding-inline: 10px;
  display: flex;
}
.btn-login {
  color: #000000;
  border: #fff;
  margin-right: 3rem;
  padding: 1rem;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.btn-sign-up {
  color: rgb(252, 251, 251);
  border: #fff;
  display: flex;
  font-size: 17px;
  cursor: pointer;
  padding-inline: 25px;
  padding-block: 15px;
  background-color: rgb(0, 200, 114);
  border-radius: 600px;
  position: relative;
}
.access {
  display: flex;
  flex-direction: row;
  margin-block: 250px;
  margin-inline: 70px;
  padding-inline: 30px;
  gap: 80px;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  justify-content: space-between;
}

.access-head {
  font-size: 52px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 120%;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.access-para {
  font-size: 17px;
  font-family: oufit, sans-serif;
  line-height: 30px;
  color: #000000;
  width: 97%;
  opacity: 0.5;
  font-weight: 600;
}
